html, body {
	/* position: relative; */
	width: 100%;
	min-height: 100% !important;
	height: 100%;
}

:root {
	--dark-1: hsl(240, 18%, 11%);
	--dark-2: hsl(240, 15%, 16%);
	--light-1: hsl(141, 76%, 48%);
	--light-2: hsl(141, 47%, 65%);
}

body {
	color: var(--light-1);
	background-color: var(--dark-1);
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h1 {
	font-family: 'Work Sans';
	letter-spacing: 0.01em;
	font-weight: 900;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: var(--light-1);
	padding: 0.75em;
	border-radius: 2em;
	border-color: var(--light-1);
	border-width: 0.12em;
	background: none;
	font-size: 1.25rem;
	cursor: pointer;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: var(--light-2);
}

button:focus {
	border-color: var(--light-1);
}

button:hover {
	background-color: var(--light-1);
	color: var(--dark-1);
}

.highlight {
	color: var(--dark-1);
	background-color: var(--light-1);
}



/* Rotate first bar */

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-6px, 6px);
	transform: rotate(-45deg) translate(-6px, 6px);
}

/* Fade out the second bar */

.change .bar2 {
	opacity: 0;
}

/* Rotate last bar */

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-6px, -6px);
	transform: rotate(45deg) translate(-6px, -6px);
}